# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: echo Hello, world!

      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.
          pwd
          ls -la

  deploy:  
    runs-on: ubuntu-latest
    steps:  
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Perform deploy
        run: |
          mkdir -p ~/.ssh
          eval $(ssh-agent -s)
          echo "$SSH_PRIVATEKEY" | tr -d '\r' | ssh-add - > /dev/null
          touch ~/.ssh/configure
          echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config
          ssh-keyscan -H $DEPLOY_SERVER_IP >> ~/.ssh/known_hosts
          echo ~/.ssh/known_hosts
          scp index.html azureuser@$DEPLOY_SERVER_IP:/home/azureuser/index.html
          ssh azureuser@$DEPLOY_SERVER_IP "sudo mv /home/azureuser/index.html /var/www/html/index.html"
        env:
          SSH_PRIVATEKEY : ${{secrets.SSH_PRIVATEKEY}}
          DEPLOY_SERVER_IP: ${{secrets.DEPLOY_SERVER_IP}}